.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

body{
    margin:0;
    padding:0;
}

.submenu{}

.menu-content{
    display: none;
}

.cote{
    height: auto;
    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.5s ease;
}
.cote-y{
    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.5s ease;
}

.cote-y:hover{
    transform: scaleY(1);
}

.cote-y:hover .cote{
    transform: scaleY(1);
}

.float-nav{
    display: block;
}

@media screen and ( max-width: 767px ) {
    .menu-content{
        display: none;
    }
    .keyval-ml{
        margin-left: 0%;
    }
    .float-nav{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .menu-content{
        display: block;
    }
    .keyval-ml{
        margin-left: 11%;
    }
    .float-nav{
        display: block;
    }
}

@media screen and ( max-width: 1200px ) {
    .float-nav{
        display: none;
    }
}

@media screen and (min-width: 1201px) {
    .float-nav{
        display: block;
    }
}

.keyval-ml{
    margin-left: 11%;
}

.keyval-col{
    display: block;
}

@media screen and ( max-width: 991px ) {
    .keyval-ml{
        margin-left: 0%;
    }
    .keyval-col{
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .keyval-ml{
        margin-left: 11%;
    }
    .keyval-col{
        display: block;
    }
}

.img-zoom{
    width: 90%; 
    padding-top: 90%;
    margin: 10%;
}

.img-zoom:hover{
    width: 100%; 
    padding-top: 100%;
    margin: 0%;
}

.blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
    animation: 2s linear infinite condemned_blink_effect;
  }
  
/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect { 
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.insight{
    background-color: rgb(225, 225, 230);
}

.insight:hover{
    background-color: rgb(224, 170, 1); 
}

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 73%;
}

footer{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), rgb(50, 50, 50) ;
    background-size: cover;
}

.highlight-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 86%;
    height: 100%;
    left: 7%;
    top: 0%;
    background-color: white;
    z-index: 1;
  }
  
.highlight-text:hover {
    background-color: rgb(182, 138, 1);
    opacity: 0.75;
}

.menu-text {
    color: rgb(14, 17, 30);
  }
  
.menu-text:hover {
    color: rgb(182, 138, 1);
    opacity: 0.75;
}

.highlight-btn{
    position: absolute; 
    right: 0px; margin-top: 7%;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: rgb(14, 17, 30);
}
.highlight-btn:hover {
    background-color: rgb(182, 138, 1);
    border-color: white;
    color: white;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
}

.btn{
    position: absolute; 
    right: 0px; margin-top: 7%;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: rgb(14, 17, 30);
}
.btn:hover {
    background-color: rgb(182, 138, 1);
    color: white;
}

.btn-txt{
    color: rgb(225, 225, 230);
}
.btn-txt:hover {
    color: rgb(182, 138, 1);
}

.y-btn{
    position: absolute; 
    right: 0px; margin-top: 3%;
    margin-bottom: 50px;
    background-color: rgb(182, 138, 1);
    border-radius: 10px;
    padding: 10px;
}
.y-btn:hover {
    background-color: rgb(225, 225, 230);
    border-color: rgb(182, 138, 1);;
    color: white;
}

.dropdown-menu{
    position: absolute;
    display: none;
    top: 118px;
    left: 0.5%;
    width: 99%;
    background-color: rgb(225, 225, 230);
    z-index: 1;
}

.youtube{
    margin-top: 10rem;
}