.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

body{
    margin:0;
    padding:0;
}

/*.slider{
    position: relative;
    width: 500%;
    animation: animate 15s linear infinite;
}

.slide{
    position: relative;
    height: 100vh;
    float: left;
    width: 20%;
    background-size: cover;
}

.slide:nth-child(1){
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/Slides/Slide1/slide1.jpg) ;
    background-size: cover;
    background-attachment: fixed;
}
.slide:nth-child(2){
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/Slides/Slide2/slide2.jpg) ;
    background-size: cover;
    background-attachment: fixed;
}
.slide:nth-child(3){
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/Slides/Slide3/phil-hearing-eTqPGpld2V0-unsplash.jpg) ;
    background-size: cover;
    background-attachment: fixed;
}

@keyframes animate{
    0%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
}*/

/*.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 73%;
}*/

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 73%;
}

.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

footer{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), rgb(50, 50, 50) ;
    background-size: cover;
}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 4px solid rgb(231, 231, 6);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 85%;
}

.vline{
    width: 43px;
    height: 300px;
    border-left: 5px solid black;
    position: absolute;
    top: -200px;
    left: 60%;
    width: 50%;
}

.flow {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 1);
    overflow: hidden;
    position: relative;
    content: url(img/slide3.jpg);
    content: no-repeat;
}

.highlight-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 86%;
    height: 100%;
    left: 7%;
    top: 0%;
    background-color: white;
    z-index: 1;
  }
  
.highlight-text:hover {
    background-color: rgb(182, 138, 1);
    opacity: 0.75;
}

.menu-text {
    color: rgb(14, 17, 30);
  }
  
.menu-text:hover {
    color: rgb(182, 138, 1);
    opacity: 0.75;
}

.highlight-btn{
    position: absolute; 
    right: 0px; margin-top: 7%;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: rgb(14, 17, 30);
}
.highlight-btn:hover {
    background-color: rgb(182, 138, 1);
    border-color: white;
    color: white;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
}

#this:hover {
    opacity: 0.5;
}

#this:hover .middle {
  opacity: 1;
}

.hlt{
    width: 95%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    background-image: url(img/CMSfront.jpg);
    background-size: 100% 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hrt{
    width: 105%;
    padding-top: 45%;
    overflow: hidden;
    position: relative;
    background-image: url(img/smartRM-1.jpg);
    background-size: 100% 100%;
    /*height: 43vh;*/
}

.hlb{
    width: 105%;
    padding-top: 45%;
    overflow: hidden;
    position: relative;
    background-image: url(img/smartstore.jpg);
    background-size: 100% 100%;
    /*height: 43vh;*/
}

.hrb{
    width: 95%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    background-image: url(img/Community.jpg);
    background-size: 100% 100%;
}

.sright{
    right: 3%;
}

.up{
    transform: translate(0%, -10%);
}

.parent{
    position: relative;
}

.Highlights {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 51%;
    overflow: hidden;
    position: relative;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/hans-vivek-67KSsu06QZQ-unsplash.jpg) ;
    background-size: cover;
}

.Highlightscontaint {
    position: absolute;
    top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.Feedback{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/InterNations-Expat-Blog_Professional-Networking_Pic-2.jpg) ;

    background-size: cover;
}

.Services {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 1);
    overflow: hidden;
    position: relative;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/wtQNCZ.jpg) ;
    height: 100vh;
    background-size: cover;
}

.insight{
    background-color: rgb(225, 225, 230);
}

.insight:hover{
    background-color: rgb(224, 170, 1); 
}

.istexty{
    font-family: Times New Roman, Times, serif;
    color: rgb(161, 161, 0);
}

.btext{
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 500%;
}

.istextb{
    color: black;
}

.bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    /*animation-name: fadebottom;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;*/
}

.blackback {
    background-color: black !important;
}

.navbar-fixed-top{
    background-color: transparent;
}

.Mem1 {
    height: 250px;
    width: 250px;
    background: url(img/yih.png);
    border-radius: 100%;
    display: inline-block;
}

.Mem2 {
    height: 250px;
    width: 250px;
    background: url(img/yih.png);
    border-radius: 100%;
    display: inline-block;
}

.Mem3 {
    height: 250px;
    width: 250px;
    background: url(img/yih.png);
    border-radius: 100%;
    display: inline-block;
}

.circles{
    width: 100%;
    padding-top: 100%;
    background-image: url(img/ecosystem.jpg);
    background-size: contain;
    display: inline-block; 
}

.Blogl{
    width: 100%;
    padding-top: 80%;
    background: url(img/Blog-2-Image-1.jpg);
    display: inline-block;
    background-size: 100% 100%;
}

.Blogm{
    width: 100%;
    padding-top: 80%;
    background: url(img/im-te-digital-branch-jpg.jpg);
    display: inline-block;
    background-size: 100% 100%;
}

.Blogr{
    width: 100%;
    padding-top: 80%;
    background: url(img/Online-retail-sees-the-largest-jump-in-new-businesses-of-all-industries.jpg);
    display: inline-block;
    background-size: 100% 100%;
}

.Blogtxt{
    height: 140px;
    width: 100%;
    transform: translate(0%, -6%);
    background-color: rgb(8, 72, 145);
}

.top {
    width: 100%;
    height: 100%;
    animation-name: fadetop;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

.carousel {
}

.aboutsquare{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    padding-top: 50%;
    top: 0%;
    /*transform: translate(0%, -60%);*/
    background: url(img/kirana-1.jpg);
    background-size: 100% 100%;
}

.communitysquare{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    padding-top: 50%;
    top: 0%;
    /*transform: translate(0%, -60%);*/
    background: url(img/kirana-1.jpg);
    background-size: 100% 100%;
}

.bellow{
    top: 100px;
}

.supplier{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    padding-top: 70%;
    top: -200px;
    /*transform: translate(0%, -60%);*/
    background: url(img/yih.png);
    background-size: 100% 100%;
}

.retalier{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    padding-top: 80%;
    top: -200px;
    /*transform: translate(0%, -60%);*/
    background: url(img/yih.png);
    background-size: 100% 100%;
}

.aboutrectangle{
    position: relative;
    width: 80%;
    margin-left: 10%;
    padding-top: 70%;
    /*transform: translate(0%, -60%);*/
    top: -70%;
    background: url(img/22165033.jpg);
    background-size: 100% 100%;
}

.vertical{
    position: absolute;
    width: 50%;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    top: 0px;
    left: -5px;
}

.carousel img {
    position: relative;
      top: 0px;
      left: 0px;
      margin-right: 10px;
    display: block;
}

.toppad{
    padding-top: 15px;
}

.abouttop{
    padding-top: 0%;
}

.lift{
  top:-200px;
}

.aboutbottom{
    padding-bottom: 25%;
}

.retaill{
    top: 50px;
}

.retailr{
    top: 250px;
}

.btn{
    position: absolute; 
    right: 0px; margin-top: 7%;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: rgb(14, 17, 30);
}
.btn:hover {
    background-color: rgb(182, 138, 1);
    color: white;
}

.btn-txt{
    color: rgb(225, 225, 230);
}
.btn-txt:hover {
    color: rgb(182, 138, 1);
}

.y-btn{
    position: absolute; 
    right: 0px; margin-top: 3%;
    margin-bottom: 50px;
    background-color: rgb(182, 138, 1);
    border-radius: 10px;
    padding: 10px;
}
.y-btn:hover {
    background-color: rgb(225, 225, 230);
    border-color: rgb(182, 138, 1);;
    color: white;
}

.dropdown-menu{
    position: absolute;
    display: none;
    top: 118px;
    left: 0.5%;
    width: 99%;
    background-color: rgb(225, 225, 230);
    z-index: 1;
}

.retailtxt{
    position: absolute;
    width: 100%;
    font-family: Times New Roman, Times, serif; font-size: 400%;
    top: -80px;
    text-align: center;
}

.bdot {
    width: 20%;
    padding-top: 20%;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.wdot {
    position: absolute;
    width: 15%;
    padding-top: 15%;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1.95%;
    margin-top: -16.95%;
}

.bhline{
    border-bottom: 10px solid black;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-25%, -120%);
    width: 120%;
    height: 85%;
}

.bvline{
    height: 110%;
    border-left: 10px solid black;
    position: absolute;
    top: 90%;
    left: 44%;
    width: 50%;
}

.wtext{
    position: absolute;
    top: -20%;
}

.youtube{
    margin-top: 10rem;
}

.normaltxt{
    font-size: large;
}

.hwwtxt{
    margin-top: 10%;
    font-size: xx-large;
}

.mvtxt{
    font-size: 130%;
}

@media screen and (max-width: 600px){
    .toppad{
        padding-top: 11px;
    }
    div.aboutsquare{
        left: -20%;
        top: -1630px;
    }
    div.communitysquare{
        top: -1650px;
    }
    .aboutrectangle{
        top: -90%;
    }
    .aboutbottom{
        padding-bottom: 40%;
    }
    .abouttop{
        padding-top: 250px;
    }
    .supplier{
        top: -250px;
    }
    .retalier{
        top: -150px;
    }
    .bellow{
        top: 0px;
    }
    .retaill{
        top: 170px;
    }
    .retailr{
        top: 125px;
    }
    .retailer{
        top: 50px;
    }
    .retailtxt{
        top: -200px;
    }
    .lift{
        top:-230px;
    }
    .vline{
        top: -230px;
    }
    .vertical{
        top: 75px;
    }
    .wdot {
        width: 12%;
        padding-top: 12%;
        margin-left: 2.4%;
        margin-top: -14%;
    }
    .bhline{
        border-bottom: 5px solid black;
    }
    .bvline{
        height: 380%;
        border-left: 5px solid black;
        top: 75%;
    }
    .wtext{
        font-size: medium;
    }
    .youtube{
        margin-top: 10rem;
    }
    .normaltxt{
        font-size: medium;
    }
    
    .hwwtxt{
        margin-top: 0%;
        font-size: large;
    }
    .mvtxt{
        font-size: medium;
    }
}

@media screen and (min-width: 601px){
    .toppad{
        padding-top: 15px;
    }
    div.aboutsquare{
        top: -50%;
    }
    div.communitysquare{
        top: -50%;
    }
    .aboutrectangle{
        top: -70%;
    }
    .aboutbottom{
        padding-bottom: 18%;
    }
    .abouttop{
        padding-top: 0%;
    }
    .supplier{
        top: -200px;
    }
    .retalier{
        top: -200px;
    }
    .bellow{
        top: 130px;
    }
    .retaill{
        top: 50px;
    }
    .retailr{
        top: 320px;
    }
    .retailtxt{
        top: -80px;
    }
    .lift{
        top:-200px;
    }
    .vline{
        top: -200px;
    }
    .vertical{
        top: 100px;
    }
    .wdot {
        width: 15%;
        padding-top: 15%;
        margin-left: 1.55%;
        margin-top: -16.55%;
    }
    .bhline{
        border-bottom: 8px solid black;
    }
    .bvline{
        height: 185%;
        border-left: 8px solid black;
    }
    .youtube{
        margin-top: 0rem;
    }
    .normaltxt{
        font-size: large;
    }
    
    .hwwtxt{
        margin-top: 10%;
        font-size: xx-large;
    }
    .mvtxt{
        font-size: 130%;
    }
}

@media screen and ( min-width: 768px ) {
    .carousel img {
      height: 300px;
    }
  }

  @media screen and (min-width: 601px) {
    h3.istexty {
      font-size: 3rem;
    }
    h2.btext{
        font-size: 500%;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    h3.istexty {
      font-size: 2rem;
    }
    h2.btext{
        font-size: 230%;
    }
  }





.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.login-box {
    position: relative;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

.login-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px
}

.login-button:hover {
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}